body {
  background-color: lightblue;
}
div {
  text-align: center;
  background-color: white;
  font-family: Courier New;
  width: 500px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 440px;
}
button {
  font-family: Courier New;
  background-color: lightblue;
  border-color: lightblue;
}